/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #004080;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-logo img {
    width: 150px;
    padding-left: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding-right: 20px;
}

nav ul li {
    margin-left: 20px;
    padding-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
/* General Styles */

/* Intro */
.hero {
    background-image: url('background.jpg');
    background-size: cover;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.countdown {
    font-size: 1.8em;
    color: #FFD700;
}
/* End Intro */


/* How Works */
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #737274;
}

.how-works ul, .draw-info ul, .prizes ul  {
    list-style-type: none;
    padding: 0;
}

.how-works ul li, .draw-info ul li, .prizes ul li {
    font-size: 1.5em;
    margin-bottom: 15px;
}
/* End How Works */

/* Media Queries */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1.2em;
    }

    .countdown {
        font-size: 1.5em;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}
/* End Media Queries */


/* Tokenomics */
.tokenomics {
    background-color: #00cdd4;
    color: #333;
}

.tokenomics h2, .governance h2, .future-plans h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 40px;
}

.tokenomics-initial h3 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #333;
}

.tokenomics-initial p, .governance p, .future-plans p {
    font-size: 1.5em;
    margin-bottom: 15px; 
}


/* Tokenomics Table */
#tokenomics-table {
    padding: 20px;
    background:none;
    width: 70%;
    margin: 0 auto;
}

#tokenomics-table h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    text-align: left;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

table thead th {
    background-color: #004080;
    color: #fff;
    text-align: center;
}

table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table tbody tr:nth-child(even) {
    background-color: #dfdcdc;
}

table tbody tr:hover {
    background-color: #e6f7ff;
}

table td:first-child {
    text-align: left;
}

table td:nth-child(2), td:nth-child(3)  {
    text-align: center;
}
/* End Tokenomics Table */

/* Tokenomics Details */
.tokenomics-details {
    background-color: #F777;
    margin-bottom: 15px;
    color: #333;
    width: 70%;
    margin: 0 auto;
}

.tokenomics-details h2 {
    font-size: 1.5em;
    background-color: #e6f7ff;
    margin-bottom: 15px;
    text-align: left;

}

.tokenomics-details p {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: left; 

}
/*End Tokenomics Details */
/* End Tokenomics */

/* Roadmap */
<style>
    #roadmap {	
    }
    
    .container3 {
    background-color: #7745;
    }

    .timeline-item h3 {
        color: #004080;
        font-size: 2em;
    }

    .timeline-item ul li {
    	margin-bottom: 10px;
	    font-size: 1.5em;
    	color: ##333;
	    text-align: left;
	    margin-left: 500px;
        list-style-type: square;
    }
</style>
/* End Roadmap */

/*Footer*/

.container4 {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(59, 138, 100);
}

section {
    padding: 40px 20px;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

button, .button {
    background-color: #004080;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

button:hover, .button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
/*End Footer*/